.table {
    backgroundColor: blue
}

.tableHeader {

}
.tableHeaderColumn {
}
.tableRow {
}
.tableColumn {
    width: auto;
    word-wrap: normal;
}
.tableSongTitleColumn {

}
.tableSongBookColumn {
}
.tableNotesColumn {
}

